.header{
  width:100vw;
  height:30vh;
  background:#ff4c4d;
}
.ladder-bottom{
  width:calc(100% - 20vh);
  height:0;
  border-top:5vh #ff4c4d solid;
  border-left:10vh solid transparent;
  border-right:10vh solid transparent;
}
